extends layouts/main

block content
    .form-login
        form(action =routes.login, method="post")
            input(type ="email", name="email", placeholder="email", required="true")
            input(type ="password", name="password", placeholder="password", required="true")
            input.login(type ="submit", value="Log in", required="true")
        include partials/socialLogin