$red: #ea232c;
$dark-red: #bb2f2a;
$grey: #f5f5f5;
$black: #444444;
$dark-grey: #e7e7e7;
$footer-icon: #dadada;
$kakao: #f7e049;
$github: #2c9f45;
$views: #6e6e6e;
$default_background: #f9f9f9;
$button: #51b0f8;
