.video-detail__container {
  display: block;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: $default_background;
  margin-right: 10px;
  margin-left: 10px;
  .video {
    video {
      width: 100%;
    }
  }
  .video__info {
    width: 100%;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    hr {
      height: 0.5px;
    }
    .video__author {
      margin-bottom: 15px;
      a {
        font-size: 20px;
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 600;
    }
    .video__views {
      font-size: 14px;
      padding-bottom: 7px;
      border-bottom: 1px solid black;
    }
    .video__description {
      margin-top: 20px;
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 10px;
    .video__comment-number {
      font-size: 18px;
    }
    form {
      margin-top: 20px;
      input {
        width: 900px;
      }
    }
    .video__comments-list {
      margin-top: 50px;
      li {
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        .comment__text {
          margin-left: 50px;
        }
        .comment__creator {
          align-items: flex-start;
          font-weight: 500;
        }
        .c-avartar {
          margin-right: 20px;
          max-width: 50px;
          max-height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}
